.corpo[b-kd7l3yiznx]{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #189d70;
    width: 100%;
    height: auto;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
    text-align: left;
    color:#ffffff;
    align-items:center;
}

homepage[b-kd7l3yiznx]{
    margin: 0;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding-left: 40px;
}

.img-fluid[b-kd7l3yiznx]{
    height:auto;
}

@media(min-width: 576px) {
    .corpo[b-kd7l3yiznx] {
        padding: 4rem 2rem;
    }

}