@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage">
<div class="corpo">
    <div class="container" align="center">
        <div class="row">
        <div class="col-md-6">
                <h5 class="display-8">Tenha controle sob os bens da sua empresa</h5>
                <h5 class="display-6">Um sistema simplificado, intuitivo e completo para a gestão patrimonial de agricultores</h5>
        </div>
        <div class="col-md-6">
                <img src="~/Images/fotoagricont.png" class="img-fluid" style="max-width:400px; line-height:10px"/>
        </div>
        </div>
    </div>
</div>

<div class="container" align="center" style="padding-top:15px">
    <h2 style="color: #0D694A">Sobre <strong>o que a AgriCont</strong> disponibiliza</h2>
</div>

<div class="container" align="center" style="padding-top:30px">
    <div class="row">
        <div class="col-md-4">
            <h4>Acessível</h4>
            <p style="width:50%">Obtenha todas as informações de seu patrimônio rapidamente</p>
        </div>
        <div class="col-md-4">
            <h4>Descomplicado</h4>
            <p style="width:50%">Tenha seu inventário de máquinas e equipamentos na palma da mão</p>
        </div>
        <div class="col-md-4">
            <h4>Controle</h4>
            <p style="width:50%">Altere facilmente o status de um produto conforme sua utilidade e disponibilidade na empresa</p>
        </div>
    </div>
</div>
</div>