@{
    ViewData["Title"] = "Home Page";
}
<div class="homepage">
<div class="corpo">
    <div class="container">
        <h5 class="display-3">[Título]</h5>
        <p>"testando"</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Teste</a></p>
    </div>
</div>
<div class="container" align="center">
    <div class="row">
        <div class="col-md-4">
            <h4>Título</h4>
            <p>"teste teste teste"</p>
        </div>
        <div class="col-md-4">
            <h4>Título</h4>
            <p>"teste teste teste"</p>
        </div>
        <div class="col-md-4">
            <h4>Título</h4>
            <p>"teste teste teste"</p>
        </div>
    </div>
</div>
</div>