@model AgriCont.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid" style="padding-top:30px">
<h1 class="text-center" style="color:#189D70;">Login</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span></br>
            </div>
            <div class="form-group">
                <div class="text-center">
              <input type="submit" value="Entrar" class="btn" style="background-color:#494949;color:#EDEBEB;" />
              <a class="btn" style="background-color:#494949; color:#EDEBEB;" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>          
          </div>
            <br />
            <div class="form-group text-primary text-center">
                <p> <a asp-controller="Usuarios" asp-action="EditPassword">Esqueci minha senha</a></p>
            </div>
        </form>
        <h3 style="text-align:center;"> @ViewBag.Message </h3>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    </div>